.social-media {
    background-color: whitesmoke;
    padding: 5rem 0;
    text-align: center;
    & i {
        color: $primay-color;
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    & a {
        color: black;
        font-weight: 700;
        flex-direction: column;
        &:hover {
            color: $primay-color;
        }
    }
}
.article-socialmedia {
    justify-content: space-around;
}
.mob-social-media {
    display: none;
}